DATABASE_URL=postgresql://postgres.PROJECT_ID:PASSWORD@aws-0-eu-west-1.pooler.supabase.com:5432/postgres
BOT_TOKEN=
BOT_USERNAME=
OWNER_TELEGRAM_ID=
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
MINI_APP_URL=https://vs-motors.vercel.app
CORS_ORIGINS=https://vs-motors.vercel.app
